# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dictionary tools folder
dictonary_tools/combined_games
dictonary_tools/game_data
dictonary_tools/input_files
dictonary_tools/final_play_data

# Game Data
src/Game Data