.guess-hex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
    min-width: 80px;
    min-height: 80px;
}

.guess-hex-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.guess-hex-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    outline: none;
    /* width/height set inline for responsiveness */
}

.guess-hex-anim {
    /* Extra animation styles if needed */
    z-index: 1;
}